@model IEnumerable<SimpleSurvey.Data.UserSurvey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Survey.SurveyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Survey.SurveyTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCompleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserSurveyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserSurveyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserSurveyId })
        </td>
    </tr>
}

</table>
